doctype html 
html 
    head 
        title MyData Page 
    body 
        h3 Hi I am Akhila Mylavarapu. 
        p I have a keen enthusiasm for both indulging in gaming and expanding my knowledge through learning.
